*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  background-color: rgba(227, 62, 62, 0.5);
  border: 1px solid black;
  min-height: 50px;
}

.ef-jumbotron {
  height: 500px;
  background-color: lightgreen ;
}
header {
  height: 80px;
  background-color: darkblue;
  color: white;
  line-height: 80px;
}

.debug.box{
  min-height: 250px;
}

h1{

}
.end{
  background-color: darkblue;
  height: 80px;
}

footer{
  color: white;
  background-color: blue;
}